.container{
    width: 1200px;
    background-color: silver;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.title{
    margin: 15px auto;  
}

.title2{
    color:red;
}

.count{
    color:green;
}

.size{
    color:blue;
}

.wpr{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.img {
    width: 360px;
    padding: 10px;
}

.img:hover{
    outline: 1px solid red;
}

.img_big{
    display: block;
    width: 900px;
    margin: 20px auto;
}

.link{
    display: block;
    margin: 20px auto;
}

.wpr2{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}